.play{
    background-color: aqua;
    border-radius: 11px;
    margin: 40px;
    padding: 10px;
}
.nav{
    background-color: rgb(98, 102, 228);
    border-radius: 15px;
    margin: 4px;
    padding: 10px;
}